$color_bck: black;
$color_txt: #f39237;
$color_bbck: #FFF5E5;
$txt_size: 3rem;
$fuente: ArnoldeScript_PERSONAL_USE_ONLY;


@font-face {
    font-family: ArnoldeScript_PERSONAL_USE_ONLY;
    src: url('../../fuentes/ArnoldeScript_PERSONAL_USE_ONLY.otf');
}
